<!DOCTYPE html>
<html>
  <head>
    <% include parts/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/lobby">Go to Lobby</a>
  </body>
</html>
