<!DOCTYPE html>
<html>

<head>
    <% include parts/head %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dist/index.css">
</head>

<body>
    <% include parts/header %>
        <div id="app">
            <div class="sec-1">
                <img src="/images/index/wallpaper.jpg" class="wallpaper">
                <div class="demo">
                    <h1 id="title">Hearts</h1>
                    <div class="margin-s">Online Poker Game</div>
                    <a class="re h-center fancy-btn btn btn-darklight" href="/lobby">
                        <div class="con">
                            <div>PLAY</div>
                            <div>Let's GO</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="container-center content demo re margin-s">
            <img src="/images/index/demo.jpg" alt="">
            <h4 class="demo-title ab v-center">Play With Your Friends!</h4>
        </div>   -->
            <div class="full centered-block sec-2">
                <div class="demo-2">
                    <div>
                        <img src="/images/icon/nodejs.png" alt="">
                    </div>
                    <div>
                        <img src="/images/icon/express.png" alt="">
                    </div>
                    <div>
                        <img src="/images/icon/socketio.png" alt="">
                    </div>
                    <div>
                        <img src="/images/icon/vuejs.jpg" alt="">
                    </div>
                    <div>
                        <img src="/images/icon/heroku.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="full centered-block sec-3">
                <div>Find Bugs, have Questions ?</div>
                <div>Please contact me : <a href="mailto:hearts.service@gmail.com" class="warning">hearts.service@gmail.com</a></div>
            </div>
        </div>
</body>

</html>