<!DOCTYPE html>
<html lang="en">

<head>
    <% include parts/head %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dist/lobby.css">
        <script src="/javascripts/lobby.js" defer></script>
</head>

<body>
    <% include parts/header %>
        <div id="app" v-bind:class="(content!=='game')?'content':''">
            <template v-if="content==='lobby'">
                <div class="container-center content">
                    <h1>LOBBY</h1>
                    <span class="link" v-on:click="roomSetting.show=!roomSetting.show">Create room</span>
                    <small>or join the rooms below</small>
                    <form v-if="roomSetting.show" class="form form-2">
                        <div class="col">
                            <label>Room Name</label>
                            <input id="roomName" type="text" name="roomName" v-model="roomSetting.name" placeholder="room name">
                            <label title="Time Limit in Every Player's turn">Time Limit (sec.)</label>
                            <input v-model="roomSetting.time" type="number" name="" min="20" max="120" step="10">
                        </div>
                        <div class="col">
                            <label title="Maximun Sets of Game">Max Sets</label>
                            <input type="number" v-model="roomSetting.maxSets" value="10" min="1" max="99">
                            <label v-bind:title="'When score reach &plusmn '+roomSetting.maxScore+' game end.'">&plusmn Score</label>
                            <input type="number" v-model="roomSetting.maxScore" name="" value="500" step="250" min="250" max="2000">
                            <small class="invalid">{{create_invalid}}</small>
                            <input class="btn btn-dark" v-on:click="createRoom($event)" type="submit" value="Create Room">
                        </div>
                    </form>
                    <div class="empty centered-block" v-if="Object.keys(rooms).length==0">
                        <span>No Rooms Here. Create Yourself and Invite Some Friends!</span>
                    </div>
                    <div class="rooms" v-for="(item, key, index) in rooms" v-bind:class={notactive:!members_notactive[index]} v-on:click="enter(rooms[key].id)">
                        <div>
                            <div>
                                <label>Name: </label>{{rooms[key].name}}</div>
                            <div>
                                <label>ID: </label>{{rooms[key].id}}</div>
                        </div>
                        <!-- <div>host:{{rooms[key].host}}</div> -->
                        <div>
                            <div>
                                <label>Members: </label>{{members_lob[index]}}/4</div>
                            <div>
                                <label>Max Set: </label>{{rooms[key].maxSets}}</div>
                        </div>
                        <div>
                            <div>
                                <label>Time: </label>{{rooms[key].time}} s</div>
                            <div>
                                <label>Score: </label>{{rooms[key].maxScore}}</div>
                        </div>
                        <div>
                            <div>
                                <label>Status: </label>{{rooms[key].status}}</div>
                        </div>
                    </div>
                    <div v-if="denied.show" id="denied">
                        <div class="re v-center h-center"><span class="warning">Error : </span>{{denied.message}}</div>
                    </div>
                </div>
            </template>
            <template v-else-if="content==='room'">
                <div class="container-center inroom">
                    <h6>You are now in room : {{atRoom.name}}</h6>
                    <button class="btn btn-default" v-on:click="leaveRoom()">Leave Room</button>
                    <p>Game will start when 4 members are ready</p>
                    <button v-on:click="getReady" class="btn ready" v-bind:class="(ready)?'btn-success':'btn-warn'">{{(ready)?'Ready':'Not Ready'}}</button>
                    <div class="form form-2">
                        <div class="col">
                            <label>ID</label><span>{{atRoom.id}}</span>
                            <label>Max Sets</label><span>{{atRoom.maxSets}}</span>
                        </div>
                        <div class="col">
                            <label>Max Score</label><span>&plusmn{{atRoom.maxScore}}</span>
                            <label>Time Limit</label><span>{{atRoom.time}} seconds</span>
                        </div>
                    </div>
                    <div>members: {{members_room.length}}/4</div>
                    <div class="member-list">
                        <div v-for="m in atRoom.members">
                            <p>{{m.name}}</p>
                            <p v-if="m.status" class="green">Ready</p>
                            <p v-else class="red">Waiting</p>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else-if="content==='game'">
                <div class="cover-bg"></div>
                <!-- <div>You are now in : {{atRoom.name}}</div>
                <p>GAME</p> -->
                <div class="table">
                    <div v-for="(p,index) in members_game" class="name-card" v-bind:class="'name-card-'+index">
                        {{p.name}}
                    </div>
                    <div class="played" v-for="(played,index) in roundPlayed_game" v-bind:class="'played-'+played.index">
                        <img class="card-shadow" v-bind:src="'images/cards/'+played.card.index+'.jpg'">
                    </div>
                    <div class="ontable" v-for="(p,index) in members_game" v-bind:class="'ontable-'+index">
                        <div class="card" v-for="card in p.ontable">
                            <img class="card-shadow" v-bind:src="'images/cards/'+card.index+'.jpg'">
                        </div>
                    </div>
                    <div class="mark" v-bind:class="'mark-'+activePlayer.reindex">
                        <img src="/images/lobby/icons8-crown-50.png" alt="">
                    </div>
                    <div id="board">
                        <p>分數</p>
                        <small>第{{Game.set +1}}局</small>
                        <p>輪到 <span v-bind:class="style[activePlayer.index]">{{activePlayer.name}}</span> 出牌</p>
                        <table>
                            <tr v-for="(p,index) in members_game">
                                <td v-bind:class="style[index]">{{p.name}}</td>
                                <td>{{p.score}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="countDown" v-if="countDown.show" class="ab vh-center">{{countDown.count}}</div>
                </div>
                <!-- <div v-for="p in members_game">
                    {{p.name}}:{{p.onhand.length}}張牌
                    <br>
                </div> -->
                <div class="onhand">
                    <div class='card' v-for="(card,index) in members_game[0].onhand" v-on:click='action(card)'>
                        <img class="card-shadow" v-bind:src="'images/cards/'+card.index+'.jpg'">
                    </div>
                </div>
                <div id="notification" class="v-center h-center">{{notification}}</div>
                <div id="confirm" v-if="confirm.show">
                    <h3>{{confirm.message}}</h3>
                    <div v-if="confirm.final" v-for="player in members_game">
                        <span v-bind:class="style[player.index]">{{player.name}}</span><span> : {{player.score}}</span>
                    </div>
                    <button class="btn btn-default" v-on:click="backToRoom">Back To Room</button>
                </div>
            </template>
            <template v-if="content==='room'||content==='game'">
                <div class="chat-pos" v-if="setting.chat">
                    <div class="chat" v-bind:myEvent="scroll">
                        <header>Chat</header>
                        <span class="message" v-for="mes in messages" v-bind:class="mes.style">{{mes.name}} : {{mes.mes}}</span>
                    </div>
                    <form class="chat-input">
                        <input type="text" name="chatMessage" v-model:value="chatMessage">
                        <input type="submit" class="btn btn-default" value="submit" v-on:click="sendMes($event)">
                    </form>
                </div>
                <div class="icon-bar">
                    <div v-on:click="sound">
                        <div v-if="content==='room'">
                            <img v-if="setting.mute!=0" src="/images/icon/volume-dark-128.png" alt="">
                            <img v-if="setting.mute==0" src="/images/icon/mute-dark-128.png" alt="">
                        </div>
                        <div v-if="content==='game'">
                            <img v-if="setting.mute!=0" src="/images/icon/volume-128.png" alt="">
                            <img v-if="setting.mute==0" src="/images/icon/mute-128.png" alt="">
                        </div>
                    </div>
                    <div v-on:click="setting.chat=!setting.chat;chatMesUnread=0">
                        <img v-if="content==='room'" src="/images/icon/chat-dark.png " alt=" ">
                        <img v-if="content==='game'" src="/images/icon/chat.png " alt=" ">
                        <div class="chatNum centered-block" v-if="chatMesUnread">
                            <span>{{chatMesUnread}}</span>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="media">
            <audio v-bind:volume="setting.mute" src="/media/stabbing.mp3" id="sound-play"></audio>
            <audio v-bind:volume="setting.mute" src="/media/button04a.mp3" id="sound-count"></audio>
        </div>
</body>

</html>