<!DOCTYPE html>
<html>

<head>
    <% include parts/head %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dist/index.css">
        <script src="/javascripts/login.js" defer></script>
</head>

<body>
    <% include parts/header %>
        <div id="app" class="content">
            <div class="container-center content">
                <form id="form" class="form re h-center">
                    <label>Pick a Name</label>
                    <input type="text" name="name" v-model="name">
                    <small class="invalid">{{invalid}}</small>
                    <button id="button" class="btn btn-default">submit</button>
                </form>
            </div>
        </div>
</body>

</html>