<!DOCTYPE html>
<html>

<head>
    <% include parts/head %>
      <script src="/javascripts/login.js" defer></script>
</head>

<body>
    <div id="app">
        <% include parts/header %>
            <div class="content">
                <form id="form">
                    <label>Pick a name :</label>
                    <input type="text" name="name" v-model="name">
                    <span>{{invalid}}</span>
                    <button id="button">submit</button>
                </form>
            </div>
    </div>
</body>

</html>