.container-center{
	text-align: center;
	display: flex;
	flex-direction: column;
}
#title{
	color: red;
	text-shadow: 1px 1px 1px black;
}
.fancy-btn{
	border-radius: 3px;
	padding: 10px;
	overflow: hidden;
	width: 100%;
	max-width: 150px;
}
.fancy-btn>.con{
	transition: transform 0.3s;
	justify-content: center;
	display: flex;
	width: 200%;
}
.fancy-btn:hover>.con{
	transform: translateX(-50%);
}
.fancy-btn>.con>*{
	width: 50%;
}
.form{
	max-width: 300px;
	width: 100%;
	justify-content: center;
}
.form>*{
	font-size: 1.2rem;
}
.form>input{
	padding: 1px;	
}
.form>small{
	padding: 1px;
	font-size: 12px;
}
.demo img{
	opacity: 0.8;
	width: 100%;
	height: auto;
}
.demo .demo-title{
	color: rgb(40, 40, 40);
	text-shadow: 1px 1px rgba(100, 100, 100, 0.7);
	width: 100%;
}
.demo-2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.demo-2 div{
	min-width: 200px;
	height: 70px;
}
.demo-2 div img{
	height: 100%;
}