/*----------------lobby------------------*/
.container-center{
	text-align: center;
}
.media{
	display: none;
}
.form-2{
	box-sizing: border-box;
	border: 1px solid lightgray;
	width: 100%;
	margin: 0 auto 0 auto;
	flex-wrap: wrap;
}
.form-2>.col{
	margin: 10px;
	flex: initial;
	width: 200px;
	justify-content: center;
}

.form-2 label{
	margin-bottom: 1px;
}
.form-2 input{
	text-align: center;
	margin-bottom: 3px;
}
.empty{
	box-sizing:border-box;
	height: 70px;
	padding: 5px;
	margin-top: 10px;
	color: rgba(100,100,100,0.3);
	border: 2px solid rgba(100,100,100,0.1);
}
.rooms{
	text-align: center;
	display: flex;
	cursor: pointer;
	border: 1px solid gray;
	box-sizing:border-box;
	height: 70px;
	padding: 5px;
	margin-top: 10px;
	color: gray;
}
.rooms.notactive{
	background-color: rgba(220,220,220,0.6);
}
.rooms:hover{
	background-color: rgba(220,220,220,0.6);
}
.rooms>div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
}
.rooms>div>div{
	/* flex-grow: 1; */
}
.rooms label{
	color: #ff9224;
}
#denied{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: rgba(200,200,200,0.8);
}
/*----------------chat/ in room------------------*/
.chat-pos{
	width: 360px;
	position: fixed;
	bottom: 5px;
	left: 40px;
}
.chat{	
	background-color: rgba(33,149,128,0.7);	
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	border: 1px solid lightgray;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 5px; 
}.chat>span{
	padding-left: 3px;
	display: block;
	word-break: break-all;
}.chat>header{
	text-align: center;
	padding: 1px;
}
.chat-input{
	width: 100%;
	display: flex;
	justify-content: space-around;
}.chat-input>[name="chatMessage"]{
	flex-grow: 8;
	margin-right: 2px;
	box-sizing: border-box;
}.chat-input>[type="submit"]{
	flex-grow: 2;
}
.inroom button{
	margin-bottom: 10px;
}
.inroom .ready{
	padding: 5px;
}
.inroom .member-list{
	padding: 5px;
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1000px;
}
.inroom .member-list div{
	margin: 5px;
	padding: 10px;
	font-size: 1.2rem;
	width: 100%;
	max-width: 250px;
	box-sizing: border-box;
	border: 1px solid rgba(75, 75, 75, 0.3);
	box-shadow: 1px 1px 1px gray;
}
.inroom .member-list .red{
	color: rgb(174,0,0);
}
.inroom .member-list .green{
	color:  rgb(0,220,0);
}
.inroom .member-list p {
	margin-bottom: 10px;
}
.inroom .col label{
	color: orange;
	font-size:1.2rem;
}
.inroom .col span{
	color: gray;
	font-size:1rem;
	margin-bottom: 5px;
}
.black{
	color: black;
}
.note{
	color: white;
	text-align: center;
	text-shadow: 0px 0px 1px gray;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.gray{
	color: gray;
}
.white{
	color: white;
}
/*----------------game------------------*/
:root{
  --myWidth:4%;/*ontable*/
  --myWidth2:5%;/*played*/
}
.table{
	background: linear-gradient(to right, #008844,#019858, #008844);
	width: 100%;
	height: 70vh;
	position: relative;
}
.table .mark{
	opacity: 0.8;
	display: none;
	position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: red;
	box-shadow: 1px 1px 2px black;
}
.table .mark img{
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.table .mark-0{
	display: block;
	top: calc(50% + var(--myWidth2));
	left:50%;
	transform: translate(-50%,100%);
}
.table .mark-1{
	display: block;
	left: calc(50% + var(--myWidth2));
	top:50%;
	transform: translate(100%,-50%);
}
.table .mark-2{
	display: block;
	bottom: calc(50% + var(--myWidth2));
	left:50%;
	transform: translate(-50%,-100%);
}
.table .mark-3{
	display: block;
	right: calc(50% + var(--myWidth2));
	top:50%;
	transform: translate(-100%,-50%);
}
.table .name-card{
	text-align: center;
	font-size: 12px;
	position: absolute;
	width: 150px;
	height: 20px;
	color: rgba(255,255,255,0.6);
}
.table .name-card-0{
	display: block;
	top: calc(50% + var(--myWidth2));
	left:50%;
	transform: translate(-50%,100%);
}
.table .name-card-1{
	display: block;
	left: calc(50% + var(--myWidth2)/2);
	top:50%;
	transform: translate(0,-50%);
}
.table .name-card-2{
	display: block;
	bottom: calc(50% + var(--myWidth2));
	left:50%;
	transform: translate(-50%,-100%);
}
.table .name-card-3{
	display: block;
	right: calc(50% + var(--myWidth2)/2);
	top:50%;
	transform: translate(0,-50%);
}
.table .played{
	position: absolute;
	width: var(--myWidth2);
}.table .played img{
	width: 100%;
}
.table .played-0{
	top: calc(50% + var(--myWidth2));
	left:50%;
	transform: translateX(-50%);
}
.table .played-1{	
	left: calc(50% + var(--myWidth2));
	top:50%;
	transform: translateY(-50%);
}
.table .played-2{
	bottom: calc(50% + var(--myWidth2));
	left:50%;
	transform: translateX(-50%);
}
.table .played-3{
	right: calc(50% + var(--myWidth2));
	top:50%;
	transform: translateY(-50%);
}
.ontable{
	display: flex;
	justify-content: center;
	position: absolute;
}
.ontable-0{
	bottom: 5px;
}
.ontable-1{
	right: 5px;
}
.ontable-2{
	top:  5px;
}
.ontable-3{
	left: 5px;
}
.ontable-0,.ontable-2{
	flex-wrap: wrap-reverse;
	width: 100%;
}.ontable-0>.card,.ontable-2>.card{
	width: calc(var(--myWidth)/2);
}.ontable-0>.card>img,.ontable-2>.card>img{
	width: 200%;
}
.ontable-1,.ontable-3{
	flex-wrap: wrap-reverse;
	flex-direction: column;
	height: 100%;
	width: var(--myWidth);
}
.ontable-1>.card,.ontable-3>.card{
	position: relative;
	margin:0;
	flex-shrink: 0; 
	width: 100%;
	height: 6%;
}.ontable-1>.card>img,.ontable-3>.card>img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.onhand{
	width: 100%;
	display: flex;
	justify-content: center;
}.onhand .card{
	transform: translateY(0);
	margin-left: -5px;
	width: var(--myWidth);
	padding: 0;
	cursor: pointer;
}.onhand .card:hover{	
	transform: translateY(-10%);
}.onhand .card img{
	width: 100%;
}
#board{
	top: 0;
	right: 0;
	text-align: center;
	position: absolute;
	width: 300px;
	height: 150px;
	background-color: rgba(255,255,255,0.6);
}#board table{
	width: 80%;
}
#countDown{
	font-size: 2.1rem;
	text-shadow: 1px 1px 2px black;
	color: red;
}
#notification{
	top:30vh;
	opacity: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	padding: 20px;
	transition: opacity 1s;
}
#notification.show{
	opacity: 1;
}
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#confirm {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(102,179,255,0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}#confirm>*{
	margin-bottom: 20px;
}#confirm>button{
	max-width: 100px;
	padding: 5px;
}
.icon-bar{
	height: 300px;
	position: fixed;
	bottom: 5px;
	left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.icon-bar div{
	position: relative;
	margin-top: 5px;
	opacity: 0.8;
	cursor: pointer;
	height: 30px;
}
.icon-bar div img{
	height: 100%;
}
.icon-bar div .chatNum{
	opacity: 1;
	color: black;
	font-size: 12px;
	top: -10px;
	right: -10px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #00bb00;
}
/*----------------vue---------------*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}