<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/dist/reset.css' />
    <link rel='stylesheet' href='/stylesheets/dist/style.css' />
    <script src="/javascripts/lib/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dist/lobby.css">
    <script src="/test.js" defer></script>
</head>

<body>
    <div id="app" class="content">
        <p>user: {{user}}</p>
        <template v-if="content==='lobby'">
            <h1>LOBBY</h1>
            <form>
                <input id="roomName" type="text" name="roomName" v-model:value="roomName" placeholder="room name">
                <input v-on:click="createRoom($event)" type="submit" value="Create Room">
            </form>
            <div class="rooms" v-for="(item, key, index) in rooms" v-on:click="enter(rooms[key].id)">
                <p>name:{{rooms[key].name}}</p>
                <p>ID:{{rooms[key].id}}</p>
                <p>host:{{rooms[key].host}}</p>
                <p>member:{{members_lob[index]}}</p>
                <p>status:{{rooms[key].status}}</p>
            </div>
            <div id="setRoom" v-if="roomSetting.show">
                <input type="text" name="">
                <input type="number" value="1000" min="500" max="2000" step="500">
                <input type="number">
                <input v-on:click="createRoom($event)" type="submit" value="Create Room">
            </div>
            <div v-if="denied.show" id="denied">
                <div class="re v-center h-center">{{denied.message}}</div>
            </div>
        </template>
        <template v-else-if="content==='room'">
            <button v-on:click="leaveRoom()">Leave Room</button>
            <div>You are now in : {{atRoom.name}}</div>
            <p>待所有人準備遊戲即開始</p>
            <button v-on:click="getReady" v-bind:class={ready:ready,waiting:!ready}>Ready:{{ready}}</button>
            <div>
                <span v-for="m in atRoom.members">{{m}} / </span>
            </div>
        </template>
        <template v-else-if="content==='game'">
           <!--  <div>You are now in : {{atRoom.name}}</div>
            <p>GAME</p> -->
            <div class="table">
                <div class="played" v-for="(played,index) in roundPlayed_game" v-bind:class="'played-'+played.index">
                    <img v-bind:src="'images/cards/'+played.card.index+'.jpg'">
                </div>
                <div class="ontable" v-for="(p,index) in members_game" v-bind:class="'ontable-'+index">
                    <div class="card" v-for="card in p.ontable" >
                        <img v-bind:src="'images/cards/'+card.index+'.jpg'">
                    </div>
                </div>
            </div>
            <!-- <div v-for="p in members_game">
                {{p.name}}:{{p.onhand.length}}張牌
                <br>
            </div> -->
            <div class="onhand">
                <div class='card' v-for="card in members_game[0].onhand" v-on:click='action(card)'>
                    <img v-bind:src="'images/cards/'+card.index+'.jpg'">
                </div>
            </div>
            <div id="board">
                    <p>分數</p>
                    <small>第{{Game.set}}局</small>
                    <table>
                        <tr v-for="p in members_game"><td>{{p.name}}</td><td>:</td><td> {{p.score}}</td></tr>
                    </table>                    
                </div>
            <div id="notification" animate="fade" class="v-center">{{notification}}</div>
        </template>
        <template v-if="content==='room'||content==='game'">
            <div class="chat-pos">
                <div class="chat" v-bind:myEvent="scroll">
                    <header>Chat</header>
                    <span class="message" v-for="mes in messages" v-bind:class="mes.style">{{mes.name}} : {{mes.mes}}</span>
                </div>
                <form class="chat-input">
                    <input type="text" name="chatMessage" v-model:value="chatMessage">
                    <input type="submit" value="submit" v-on:click="sendMes($event)">
                </form>
            </div>
        </template>
    </div>
</body>

</html>