<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/dist/reset.css' />
    <link rel='stylesheet' href='/stylesheets/dist/style.css' />
    <script src="/javascripts/lib/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dist/lobby.css">
    <script src="/test.js" defer></script>
</head>

<body>
    <header class="mainheader">
        <div class="title">
            <a class="nav-btn" href="/">HEARTS</a></div>
        <% if(session.userName){%>
            <div class="side nav-btn">
                <%= session.userName %>
            </div>
            <div class="side">
                <a class="nav-btn" href="/signout">Sign out</a>
            </div>
            <% }else{%>
                <div class="side">
                    <a class="nav-btn" href="/login">Login</a>
                </div>
                <% }%>
    </header>
    <div id="app" v-bind:class="(content!=='game')?'content':''">
        <template v-if="content==='lobby'">
            <h1>LOBBY</h1>
            <form>
                <input id="roomName" type="text" name="roomName" v-model:value="roomName" placeholder="room name">
                <input v-on:click="createRoom($event)" type="submit" value="Create Room">
            </form>
            <div class="rooms" v-for="(item, key, index) in rooms" v-on:click="enter(rooms[key].id)">
                <p>name:{{rooms[key].name}}</p>
                <p>ID:{{rooms[key].id}}</p>
                <p>host:{{rooms[key].host}}</p>
                <p>member:{{members_lob[index]}}</p>
                <p>status:{{rooms[key].status}}</p>
            </div>
            <div id="setRoom" v-if="roomSetting.show">
                <input type="text" name="">
                <input type="number" value="1000" min="500" max="2000" step="500">
                <input type="number">
                <input v-on:click="createRoom($event)" type="submit" value="Create Room">
            </div>
            <div v-if="denied.show" id="denied">
                <div class="re v-center h-center">{{denied.message}}</div>
            </div>
        </template>
        <template v-else-if="content==='room'">
            <div class="container-center inroom">
                <div>You are now in room : {{atRoom.name}}</div>
                <button class="btn btn-default" v-on:click="leaveRoom()">Leave Room</button>
                <p>Game will start when everyone is ready</p>
                <button v-on:click="getReady" class="btn ready" v-bind:class="(ready)?'btn-success':'btn-warn'">{{(ready)?'Ready':'Not Ready'}}</button>
                <div class="member-list">
                    <div v-for="m in atRoom.members">
                        <p>{{m.name}}</p>
                        <p v-if="m.status" class="green">Ready</p>
                        <p v-else class="red">Waiting</p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else-if="content==='game'">
            <div class="cover-bg"></div>
            <!--  <div>You are now in : {{atRoom.name}}</div>
            <p>GAME</p> -->
            <div class="table">
                <div class="name-card name-card-0"><small>名字最長可已取到十二個字</small></div>
                <div class="name-card name-card-1"><small>名字最長可已取到十二個字</small></div>
                <div class="name-card name-card-2"><small>名字最長可已取到十二個字</small></div>
                <div class="name-card name-card-3"><small>名字最長可已取到十二個字</small></div>
                <div class="played" v-for="(played,index) in roundPlayed_game" v-bind:class="'played-'+played.index">
                    <img class="card-shadow" v-bind:src="'images/cards/'+played.card.index+'.jpg'">
                </div>
                <div class="ontable" v-for="(p,index) in members_game" v-bind:class="'ontable-'+index">
                    <div class="card" v-for="card in p.ontable">
                        <img class="card-shadow" v-bind:src="'images/cards/'+card.index+'.jpg'">
                    </div>
                </div>
                <div class="mark mark-0">
                    <img src="/images/lobby/icons8-crown-50.png" alt="">
                </div>
                <div class="mark mark-1">
                    <img src="/images/lobby/icons8-crown-50.png" alt="">
                </div>
                <div class="mark mark-2"></div>
                <div class="mark mark-3"></div>
                <div id="countDown" class="ab vh-center">10</div>
            </div>
            <!-- <div v-for="p in members_game">
                {{p.name}}:{{p.onhand.length}}張牌
                <br>
            </div> -->
            <div class="onhand">
                <div class='card' v-for="card in members_game[0].onhand" v-on:click='action(card)'>
                    <img class="card-shadow" v-bind:src="'images/cards/'+card.index+'.jpg'">
                </div>
            </div>
            <div id="board">
                <p>分數</p>
                <small>第{{Game.set}}局</small>
                <table>
                    <tr v-for="p in members_game">
                        <td>{{p.name}}</td>
                        <td>:</td>
                        <td> {{p.score}}</td>
                    </tr>
                </table>
            </div>
            <div id="notification" animate="fade" class="v-center">{{notification}}</div>
            <div id="confirm" v-if="confirm.show">
                <h4>{{confirm.message}}</h4>
                <button class="btn btn-default">Back To Room</button>
            </div>
        </template>
        <template v-if="content==='room'||content==='game'">
            <div class="chat-pos" v-if="setting.chat">
                <div class="chat" v-bind:myEvent="scroll">
                    <header>Chat</header>
                    <span class="message" v-for="mes in messages" v-bind:class="mes.style">{{mes.name}} : {{mes.mes}}</span>
                </div>
                <form class="chat-input">
                    <input type="text" name="chatMessage" v-model:value="chatMessage">
                    <input type="submit" value="submit" v-on:click="sendMes($event)">
                </form>
            </div>
            <div class="icon-bar">
                <div v-on:click="sound">
                     <img v-if="setting.mute!=0" src="/images/icon/volume-128.png" alt="">
                    <img v-if="setting.mute==0" src="/images/icon/mute-128.png" alt="">
                </div>
                <div v-on:click="setting.chat=!setting.chat;chatMesUnread=0">
                    <img src="/images/icon/chat.png" alt="">
                    <div class="chatNum centered-block" v-if="chatMesUnread">
                            <span>{{chatMesUnread}}</span>
                        </div>
                </div>
            </div>
        </template>
    </div>
    <div class="media">
        <audio v-bind:volume="setting.mute" src="/media/stabbing.mp3" id="sound-play"></audio>
        <audio v-bind:volume="setting.mute" src="/media/button04a.mp3" id="sound-count"></audio>
    </div>
</body>

</html>