<title><%= title %></title>
<meta charset="utf-8">
<link rel='stylesheet' href='/stylesheets/dist/reset.css' />
<link rel='stylesheet' href='/stylesheets/dist/style.css' />
<script src="/javascripts/lib/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>