<header class="mainheader">
	<div class="title">
		<a class="nav-btn" href="/">HEARTS</a></div>
	<% if(session.userName){%>	
		<div class="side nav-btn"><%= session.userName %></div>
		<div class="side">
			<a class="nav-btn" href="/signout">Sign out</a>
		</div>
	<% }else{%>
		<div class="side">
			<a class="nav-btn" href="/login">Login</a>
		</div>
	<% }%>
</header>